.page {
  margin: 0px;
  padding: 0px;
  border: none;
  user-select: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.page * {
  margin: 0px;
  padding: 0px;
  border: none;
}

button {
  all: unset;
  /* Optional: You can add your own styles below */
  cursor: pointer; /* Make sure the button still behaves like a button */
}

.side-bar {
  display: none;
  position: absolute;
  top: 20%;
  left: 10px;
  z-index: 1;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
}

.color-list {
  display: none;
}

.shapes-container {
  position: absolute;
  top: 0;
  left: 32.5%;
  z-index: 1;
  display: flex;
  gap: 5px;
}

.shapes-container button {
  padding: 5px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.propertie-list {
  /* margin-top: 5px; */
  margin: 5px;
  padding: 10px 5px 0px 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.transparent-button {
  padding: 0px;
  margin: 0px;
  background-color: none;
}

.transparent-button img {
  width: 25px;
  height: auto;
  margin-bottom: -3px;
}

.propertie-type {
  font-size: 20px;
}

input[type="color"] {
  all: unset;
  width: 30px;
  height: 32px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0;
}

.thickness-input {
  background-color: rgb(245, 245, 245);
  padding: 5px;
  width: 100px;
}

.buttons-propertie {
  margin: 5px;
  padding: 10px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.action-button-list {
  display: flex;
  flex-direction: row;
  gap: 5px
}

.action-button {
  padding: 3px;
  margin: 0px;
  border-radius: 10px;
  background-color: #f2f2f7;
}

.action-button img {
  width: 20px;
  height: auto;
  margin-bottom: -3px;
}